name: "[Cron] Update flake.lock"
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    # runs on montly on the second day of the month
    - cron: '15 0 2 * *' 

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "[Cron] Update flake.lock"
          pr-labels: |
            dependencies
            automation
